body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

h1, h2, h3, p {
  line-height: 1.5;
}

ul {
  li {
    margin-left: -40px;
    list-style-type: none;
  }
}

a {
  color: $color-primary;
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    color: lighten($color-primary, 10);
  }
}
