button.button {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $color-white;
  color: $color-primary;
  font-weight: 900;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($color-white, 10);
  }

  &.-pause {

  }

  &.-play {

  }
}
