section {
  padding: 50px 20px;
  box-sizing: border-box;
}

&.-demo {
  @include horizontal-gradient($color-secondary, $color-primary);

  * {
    color: $color-white;
  }
}

&.-info {
  text-align: center;
  background-color: $color-white;

  h1, h2, h3 {
    color: $color-black;
  }

  p {
    color: $color-gray;
    max-width: 600px;
    margin: 0 auto;
  }
}
